<section ng-controller="PollsController" ng-init="findOne()">
    <div class="page-header">
        <h1 ng-bind="poll.title"></h1>
    </div>
    <div class="pull-right" ng-show="authentication.user._id == poll.user._id">
        <a class="btn btn-primary" ui-sref="polls.edit({pollId: poll._id})">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="poll.created | date:'mediumDate'"></span>
      by
      <span ng-bind="poll.user.displayName"></span>
      <br/>
      <span>    
        
        <span class="glyphicon glyphicon-share-alt" aria-hidden=""></span> share:&nbsp;
        <a href = "{{link}}" target="_blank" ng-bind="link"></a>
      </span>
    </em>
  </small>

    <br/><br/><br/><br/>
    <form name="voteForm" ng-submit="vote()">
        <md-radio-group ng-model="selectedOptionId">
            <md-radio-button ng-repeat='option in poll.options' ng-click="selectOption(option.text)" class="md-accent md-hue-3" ng-value="option._id"
                aria-label="aria-hidden">
                <span class="lead" ng-bind="option.text"></span>&nbsp;&nbsp;&nbsp;&nbsp;=&nbsp;<span class="lead" ng-bind="option.voteCount"></span>
            </md-radio-button>

        </md-radio-group>
        <input class="btn btn-primary" type="submit">
    </form>
    <hr/>
    <h5><strong>Selcted: </strong><span class="text-capitalize" ng-bind="selectedOptionText"></span></h5>
</section>