<section ng-controller="VotesController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="vote.choice.text"></h1>
  </div>
  <!--<div class="pull-right" ng-show="authentication.user._id == vote._user">
    <a class="btn btn-primary" ng-click="remove();"><i class="glyphicon glyphicon-trash"></i></a>
  </div>-->
  <div class="pull-right">
    <a class="btn btn-primary" ng-click="remove();"><i class="glyphicon glyphicon-trash"></i></a>
  </div>
  <small>
    <em class="text-muted">
      Posted on <span ng-bind="vote.created | date:'mediumDate'"></span>
      <br/>
      <span>
        <span class="glyphicon glyphicon-share-alt" aria-hidden=""></span> share:&nbsp;
        <a href = "{{link}}" target="_blank" ng-bind="link"></a>
      </span>
    </em>
  </small>
</section>
